<div class="bc-1">
  <div class="bc-2">
    <a href="{{ include.url }}" class="bc-3">
	  <img src="{{ include.image }}" class="bc-4">
	</a>
  </div>
  <p style="margin:0;">
    <a href="{{ include.url }}" class="bc-5">{{ include.title }}</a>
  </p>
  <p class="bc-6">{{ include.desc }}</p>
  <div class="bc-7">
    <p class="bc-8">
      <img src="http://favicon.hatena.ne.jp/?url={{ include.url }}" class="bc-favicon">{{ include.site }}<img src="http://b.hatena.ne.jp/entry/image/{{ include.url }}" class="bc-hatebu">
    </p>
  </div>
</div>
