<div class="sns-share">
  <ul class="sns-share__list">
    <li class="sns-share__item">
      <a
        class="sns-share__btn sns-share__btn--fb"
        href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}/{{ page.url }}"
        target="_blank"
        ><i class="fa fa-facebook fa-big"></i
      ></a>
    </li>
    <li class="sns-share__item">
      <a
        class="sns-share__btn sns-share__btn--tw"
        href='https://twitter.com/intent/tweet?url={{ site.url }}{{site.baseurl}}/{{ page.url }}&text={{ page.title }}'
        target="_blank"
        ><i class="fa fa-twitter fa-big"></i
      ></a>
    </li>
    <li class="sns-share__item">
      <a
        class="sns-share__btn sns-share__btn--line"
        href='http://line.me/R/msg/text/?{{ page.title }}\n{{ site.url }}{{site.baseurl}}/{{ page.url }}'
        target="_blank"
        >LINE</a
      >
    </li>
    <li class="sns-share__item">
      <a
        class="sns-share__btn sns-share__btn--hb"
        href="http://b.hatena.ne.jp/add?mode=confirm&url={{ site.url }}{{site.baseurl}}/{{ page.url }}&title={{ page.title }}"
        target="_blank"
        >B!</a
      >
    </li>
    <li class="sns-share__item">
      <a
        class="sns-share__btn sns-share__btn--po"
        href="http://getpocket.com/edit?url={{ site.url }}{{site.baseurl}}/{{ page.url }}&title={{ page.title }}"
        target="_blank"
        ><i class="fa fa-get-pocket fa-big"></i
      ></a>
    </li>
    <li class="sns-share__item">
      <a
        class="sns-share__btn sns-share__btn--copy js-url-copy"
        data-clipboard-text='{{ page.title}}\n{{ site.url }}{{site.baseurl}}/{{ page.url }}'
        ><i class="fa fa-clipboard"></i> copy</a
      >
    </li>
  </ul>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new ClipboardJS('.js-url-copy')
  })
</script>
